<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Precios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="icon" type="image/png" href="https://i.ibb.co/R2KzL03/logoo.png">
  </head>
  <style>
    .navbar-item img {
      max-height: 100%;
  }
      body {
      font-size: 1.5rem;
      font-weight: 400;
      }

      </style>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="https://i.ibb.co/k6MhbCX/logo.png" width="200" height="60">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Inicio
            </a>
      
            <a class="navbar-item" href="/equipo">
              Equipo
            </a>

            <a class="navbar-item" href="/ubicacion">
                Ubicación farmacias
            </a>

            <a class="navbar-item" href="/precios">
                Buscador de precios
            </a>

            <a class="navbar-item" href="/foro">
              Foro
          </a>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Registrarse</strong>
              </a>
              <a class="button is-light">
                Iniciar sesión
              </a>
            </div>
          </div>
        </div>
    </nav>
      <div class="column">
        <div class="box">
          <p class="title is-5">Buscar un medicamento:</p>
        </div>
      </div>
      <form action="/precios_variable " class="form-space" method='post'>
      <div class="field is-grouped mr-6 ml-6">
        <p class="control is-expanded">
          <input name="nombre" class="input" type="text" placeholder="Nombre medicamento" value={{nombre1}}>
        </p>
        <p class="control">
          <button type="submit" class="button is-primary">Seleccion</button>
        </p>
      </div>
      </form>
      <section class="section">
        <div class="columns is-centered">
      <table class="table table is-bordered is-striped is-narrow is-hoverable">
        <thead>
          <tr>
            <th><abbr title="Codigo">Code</abbr></th>
            <th><abbr title="Marca">Marca</abbr></th>
            <th><abbr title="Principio Activo">Principio Activo</abbr></th>
            <th><abbr title="Precio">Precio</abbr></th>
            <th><abbr title="Laboratorio">Laboratorio</abbr></th>
            <th><abbr title="Clasificacion">Clasificacion</abbr></th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(nmedicamentos) %}
          <tr>
            <th>{{matrizresultados[i][0]}}</th>
            <td>{{matrizresultados[i][1]}}</td>
            <td>{{matrizresultados[i][2]}}</td>
            <td>${{matrizresultados[i][3]}}</td>
            <td>{{matrizresultados[i][4]}}</td>
            <td>{{matrizresultados[i][5]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
        </div>
      </section>
  </body>
</html>