<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
    <link rel="icon" type="image/png" href="https://i.ibb.co/R2KzL03/logoo.png">
  </head>
  <style>
  .navbar-item img {
    max-height: 100%;
}
    body {
    font-size: 1.5rem;
    font-weight: 400;
    }
    </style>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="https://i.ibb.co/k6MhbCX/logo.png" width="200" height="60">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Inicio
            </a>
      
            <a class="navbar-item" href="/equipo">
              Equipo
            </a>

            <a class="navbar-item" href="/ubicacion">
                Ubicación farmacias
            </a>

            <a class="navbar-item" href="/precios">
              Buscador de precios
            </a>
            {% if 'active' in session: %}
                <a href="/foro" class="navbar-item">
                    Foro
                </a>
                {% endif %}
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            {% if 'active' in session: %}
                        <a class="navbar-item">
                            {{session['name']}}
                        </a>
                        <a href="/salir" class="navbar-item">
                            Salir
                        </a>
              {% else: %}
              <div class="buttons">
              <a href="/registrarme" class="button is-primary">
                <strong>Registrarse</strong>
              </a>
              <a href="/ingresar" class="button is-light">
                Iniciar sesión
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
      <div class="columns mt-3">
        <div class="column is-two-thirds is-offset-one-fifth">
        <form action="/check-user" method="POST" class="box">
        <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input class="input" name="email" type="email" placeholder="Ingresa tu correo electrónico">
        </div>
        </div>
    
        <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input class="input" name="pass" type="password" placeholder="Ingresa tu contraseña">
        </div>
        </div>
    
        <button class="button is-primary">Ingresar</button>
    </form>
    </div>
    </div>
</div>
</body>
</html>
