<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ubicacion</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="icon" type="image/png" href="https://i.ibb.co/R2KzL03/logoo.png">
  </head>
  <style>
    .navbar-item img {
      max-height: 100%;
  }
      body {
      font-size: 1.5rem;
      font-weight: 400;
      }
      </style>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="https://i.ibb.co/k6MhbCX/logo.png" width="200" height="60">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Inicio
            </a>
      
            <a class="navbar-item" href="/equipo">
              Equipo
            </a>

            <a class="navbar-item" href="/ubicacion">
                Ubicación farmacias
            </a>

            <a class="navbar-item" href="/precios">
                Buscador de precios
            </a>
            {% if 'active' in session: %}
                <a href="/foro" class="navbar-item">
                    Foro
                </a>
                {% endif %}
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
              {% if 'active' in session: %}
                        <a class="navbar-item">
                            {{session['name']}}
                        </a>
                        <a href="/salir" class="navbar-item">
                            Salir
                        </a>
              {% else: %}
              <div class="buttons">
              <a href="/registrarme" class="button is-primary">
                <strong>Registrarse</strong>
              </a>
              <a href="/ingresar" class="button is-light">
                Iniciar sesión
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
      <div class="column">
        <div class="box">
          <p class="title is-5">Mapa farmacias comunales/populares:</p>
        </div>
      </div>
      <form action="/ubicacion_variable " class="form-space" method='post'>
      <div class="field has-addons has-addons-centered mx-6">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select name="comuna">
                <option value="0" {{listaseleccion[0]}}>Cerrillos</option>
                <option value="1" {{listaseleccion[1]}}>Cerro Navia</option>
                <option value="2" {{listaseleccion[2]}}>Conchalí</option>
                <option value="3" {{listaseleccion[3]}}>El Bosque</option>
                <option value="4" {{listaseleccion[4]}}>Estación Central</option>
                <option value="5" {{listaseleccion[5]}}>Huechuraba</option>
                <option value="6" {{listaseleccion[6]}}>Independencia</option>
                <option value="7" {{listaseleccion[7]}}>La Cisterna</option>
                <option value="8" {{listaseleccion[8]}}>La Florida</option>
                <option value="9" {{listaseleccion[9]}}>La Granja</option>
                <option value="10" {{listaseleccion[10]}}>La Pintana</option>
                <option value="11" {{listaseleccion[11]}}>La Reina</option>
                <option value="12" {{listaseleccion[12]}}>Lo Barnechea</option>
                <option value="13" {{listaseleccion[13]}}>Lo Prado</option>
                <option value="14" {{listaseleccion[14]}}>Macul</option>
                <option value="15" {{listaseleccion[15]}}>Maipú</option>
                <option value="16" {{listaseleccion[16]}}>Ñuñoa</option>
                <option value="17" {{listaseleccion[17]}}>Pedro Aguirre Cerda</option>
                <option value="18" {{listaseleccion[18]}}>Peñalolén</option>
                <option value="19" {{listaseleccion[19]}}>Providencia</option>
                <option value="20" {{listaseleccion[20]}}>Pudahuel</option>      
                <option value="21" {{listaseleccion[21]}}>Quilicura</option>
                <option value="22" {{listaseleccion[22]}}>Quinta Normal</option>
                <option value="23" {{listaseleccion[23]}}>Recoleta</option>
                <option value="24" {{listaseleccion[24]}}>Renca Centro</option>
                <option value="30" {{listaseleccion[30]}}>Renca Oriente</option>
                <option value="31" {{listaseleccion[31]}}>Renca Poniente</option>
                <option value="25" {{listaseleccion[25]}}>San Joaquín</option>
                <option value="26" {{listaseleccion[26]}}>San Miguel</option>
                <option value="27" {{listaseleccion[27]}}>San Ramón</option>
                <option value="28" {{listaseleccion[28]}}>Santiago</option>
                <option value="29" {{listaseleccion[29]}}>Vitacura</option>
            </select>
          </div>
        </div>
        <div class="control">
          <button type="submit" class="button is-primary">Seleccion</button>
        </div>
      </div>
      </form>
      <div class="columns mx-6 my-3">
      <div class="column">
        <iframe src="https://www.google.com/maps/embed{{mapcomuna}}" width="100%" height="800" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
    </div>
    </div>
  </body>
</html>